# Node.js
node_modules/
npm-debug.log
package-lock.json

# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints

# Environment & Secrets
.env
*.env
cookies.txt

# Database
database/*.db
database/*.db-journal

# Logs
logs/*.log

# Temporary Files & Downloads
python/downloads/*
!python/downloads/.gitkeep
node/downloads/*
python/test_*.webm
python/test_*.mp4

# OS
.DS_Store
Thumbs.db
